@font-face {
  font-family: Stone;
  src: url('../fonts/stonsans.ttf');
}

html{
  background: transparent url('../images/woodenbg2.jpg');
  margin: 0;
  padding: 0;
}

h1{
  font-size:26pt;
}
h2{
  font-size:16pt;
}
h3{
  font-size:13pt;
}

a{
  color:#F2EEAC;
  opacity: 0.9;
}

h1, h2{
  color:#F2EEAC;
  font-family: Georgia, Times New Roman, Times, serif;
  text-shadow:#666666 0.5px 1px 0;
  letter-spacing:1px;
  opacity: 0.8;
}

p,
li {
  opacity: 0.8;
}

#main_wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

#main_content{
  grid-column: 2/4;
  width: 100%;
  background-color:#333333;
  padding:10px 0 20px 0;
}

#main_content h1,
#main_content h2{
  color:#F2EEAC;
  font-family: Georgia, Times New Roman, Times, serif;
  margin:20px 0 5px 0;
  padding: 0 20px;
}

#main_content h3{
  color:#F2EEAC;
  font-family: Georgia, Times New Roman, Times, serif;
  margin:0 auto 5px auto;
  padding: 0 20px;
}

#main_content p{
  font-family: Stone, Helvetica, Arial, sans-serif;
  line-height:22px;
  color:#ffffff;
  padding: 0 20px 15px 20px;
  font-size:12pt;
}

#pStrong {
  color: white;
  background:#666666;
  display: flex;
  flex-flow: column;
  max-width:65%;
  padding: 8px;
  margin: 0 auto;
  font-family: Stone, Helvetica, Arial, sans-serif;
  font-size: 12pt;
  text-shadow: #333333 0.5px 1px 0;
  opacity: 0.9;
  text-align: center;
}

iframe {
  border: 0;
  width: 100%;
  height: 350px;
}

#panels{
  grid-column: 1/2;
  width:100%;
}

.panel{
  max-width: 329px;
  margin: auto;
}
.panel img {
  max-width: 329px;
  padding-top: 20px;
  margin: auto;
}
.panel h2{
  color:#F2EEAC;
  font-family: Georgia, Times New Roman, Times, serif;
  margin:20px 0 0 0;
}

.panel p{
  font-family: Stone, Helvetica, Arial, sans-serif;
  line-height:22px;
  color:#ffffff;
  padding-bottom:5px;
  font-size:11pt;
}

.panel ul {
  list-style: none;
  padding: 0;
}
.panel li{
  font-family: Stone, Helvetica, Arial, sans-serif;
  color:#ffffff;
  margin:7px 0 0 2px;
}

.panel li.see-more-link {
  cursor: pointer;
}

.date{
  width:30px!important;
  padding:4px 7px 1px 7px;
  margin-right:7px;
  color:#ffffff;
  background:#333333;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.past{
  text-decoration:line-through;
}

.footer{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  font-family: Stone, Helvetica, Arial, sans-serif;
  padding:0 0 10px 0;
}

.footer div {
  grid-column: 2/4;
  background-color:#333333;
  width: 100%;
}

.footer p{
  color:hsl(0, 0%, 100%, 0.85);
  padding: 0 20px;
}


@media (max-width: 1400px) {
  #panels{
    width:90%;
    margin: 0 auto;
  }

  .panel img {
    max-width: 100%;
  }
}



@media (max-width: 500px){

  html{
    background: transparent url('../images/woodenbg2.jpg');
  }

  h1{
    font-size:26pt;
  }
  h2{
    font-size:16pt;
  }
  h3{
    font-size:13pt;
  }

  strong{
    background:#666666;
    padding:6px 8px 3px 8px;
    margin-left:130px;
    margin-top:20px;
    text-shadow:#333333 0.5px 1px 0;
  }

  a{
    color:#F2EEAC;
  }

  h1, h2{
    color:#F2EEAC;
    font-family: Georgia, Times New Roman, Times, serif;
    text-shadow:#666666 0.5px 1px 0;
    letter-spacing:1px;
  }

  #main_content{
    width:750px;
    background-color:#333333;
    padding:10px 20px 20px 30px;
  }

  #main_content h2{
    color:#F2EEAC;
    font-family: Georgia, Times New Roman, Times, serif;
    margin:20px 0 5px 0;
  }

  #main_content h3{
    color:#F2EEAC;
    font-family: Georgia, Times New Roman, Times, serif;
    margin-bottom:5px;
  }

  #main_content p{
    font-family: Stone, Helvetica, Arial, sans-serif;
    line-height:22px;
    color:#ffffff;
    padding-bottom:15px;
    font-size:12pt;
  }

  #panels{
    width:320px!important;
    background: transparent url('../images/Pub-Standards-Lancaster.png') no-repeat;
    height:600px;
  }

  .panel{
    width:200px;
    height:300px;
  }

  .panel h2{
    color:#F2EEAC;
    font-family: Georgia, Times New Roman, Times, serif;
    margin:20px 0 5px 0;
  }

  .panel p{
    font-family: Stone, Helvetica, Arial, sans-serif;
    line-height:22px;
    color:#ffffff;
    padding-bottom:5px;
    font-size:11pt;
  }


  .panel li{
    font-family: Stone, Helvetica, Arial, sans-serif;
    color:#ffffff;
    margin:7px 0 0 2px;
  }


  .date{
    width:30px!important;
    padding:4px 7px 1px 7px;
    margin-right:7px;
    color:#ffffff;
    background:#333333;
    border-radius: 4px;
    -moz-border-radius: 4px;
  }

  .footer{
    width:750px;
    margin:0 0 0 313px;
    background-color:#333333;
    font-family: Stone, Helvetica, Arial, sans-serif;
    padding:0 20px 10px 30px;
  }

  .footer p{
    color:#ffffff;
  }

}